<div class="container">
<%= image_tag @hat_pic.avatar.url(:medium) %>
<br></br>
<ul>
<% @hat_pic.comments.each do |com| %>
  <li><%= com.content %><br>
    -<%= link_to com.user.username, user_path(com.user) %>
  </li>
<% end %>
</ul>

<% @comment.errors.full_messages.each do |msg| %>
  <h4><%= msg %></h4>
<% end %>
  
<%= form_for @comment do |f| %>
  <%= f.label :content %>
  <br>
  <%= f.text_area :content %>
  <br>
  <%= f.hidden_field :user_id, value: 1 %>
  <%= f.hidden_field :hat_pic_id, value: @hat_pic.id %>
  <%= f.submit %>
<% end %>

<% if @hat_pic.ratings.any? {|rating| rating.user_id == 1} %>
  <br><br>
  <h3>Average Rating:<%= @hat_pic.average_rating %></h3><br><br>
<% else %>
  <%= form_for @hat_pic.ratings.build do |f| %>
    <br>
    <%= f.label "Rate this pic!" %>
    <%= f.hidden_field :user_id, value: 1 %>
    <%= f.hidden_field :hat_pic_id, value: @hat_pic.id %>
    <%= f.button 1, name: 'score' %>
    <%= f.submit 2, name: 'score' %>
    <%= f.submit 3, name: 'score' %>
    <%= f.submit 4, name: 'score' %>
    <%= f.submit 5, name: 'score' %>
  <% end %>
<% end %>

<%= link_to "Delete", @hat_pic, method: :delete %>
</div>
