

<div class = "container">
  
  <div class = "jumbotron">
  <h1> Edit Your Hat </h1>
<%= form_for @hat do |f| %>
<div class="row">
  <div class="col-md-1">
<%= f.label :name %>
  </div>
  <div class="col-md-1">
<%= f.text_field :name %> <br>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
<%= f.label :brand %>
  </div>
  <div class="col-md-1">
<%= f.text_field :brand%> <br>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
<%= f.label :category %>
  </div>
  <div class="col-md-1">
<%= f.text_field :category%> <br>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
<%= f.label :color %>
  </div>
  <div class="col-md-1">
<%= f.text_field :color%> <br>
  </div>
</div>
<br>
  <%= f.hidden_field :user_id, value: session[:id] %>


  <%= f.submit %>


<% end %>
  </div>
</div>
