<style>
.jumbotron {
  margin-top: 30px;
  padding-top: 20px;
}

.container {
    height: 100%;
    width: 500px;
    justify-content: center;
    align-items: center;
  }

.centered-text {
    text-align:center
}

p {
    text-align: left !important;
}
</style>

<div class="container centered-text">
  <div class = "jumbotron border border-secondary">
    <h1> 👑Create a Hat!👑 </h1><br>

<%= form_for @hat do |f| %>
  <div class="form-group row">
    <div class="col-3">
  <p><%= f.label :name %></p>
    </div>
    <div class="col-9">
  <%= f.text_field :name, {:class => "form-control"} %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-3">
  <p><%= f.label :description %></p>
    </div>
    <div class="col-9">
  <%= f.text_field :description, {:class => "form-control"}  %> <br>
    </div>
  </div>

 <%= f.hidden_field :user_id, value: session[:id] %>



  <%= f.hidden_field :user_id, value: session[:id] %>

  <%= f.submit "Add Hat", {:class => "btn btn-secondary btn-lg btn-block"}  %>

 <%= f.submit %>



<% end %>
</div>
</div>
