<div class = "jumbotron">
<h1> Create A Hat Profile! </h1>

<%= form_for @hat do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>

  <%= f.label :brand %>
  <%= f.text_field :brand %> <br>

  <%= f.label :category %>
  <%= f.text_field :category %> <br>

  <%= f.label :color %>
  <%= f.text_field :color %> <br>

  <%= f.hidden_field :user_id, value: 1 %>

  <%= f.submit %>

<% end %>
</div>
