<div class = "container">
  <div class = "jumbotron">
<h3> Name: </h3> <%= @hat.name %><br></br>
<h4> About This Hat: </h4> <%= @hat.description %><br></br>
<h4> Owned By: <%= link_to @hat.user.username, user_path(@hat.user) %>
<br>
<br>

<% if @hat.hat_pics.any? %>
  <h3> Pictures: </h3> <% @hat.hat_pics.each do |p| %>
    <%= link_to(image_tag(p.avatar.url(:thumb)), hat_pic_path(p)) %>
  <% end %>
<% else %>
  <h3>You don't have any pictures yet! <%= link_to "Add one!", new_hat_pic_path %></h3>
<% end %>
<br>
<br>

<% if logged_in? && @hat.user_id == session[:id] %>
  <%= link_to("Edit", edit_hat_path(@hat)) %><br><br>

<%= link_to "Delete", @hat, method: :delete %>
<% end %>
  </div>
</div>
