<div class = "container">
  <br>
  <div class = "jumbotron">
<h1 class="display-4"> Name: <%= @hat.name %></h1><br>
<h1> About This Hat: <%= @hat.description %> </h1><br>

<% if @hat.hat_pics.any? %>
  <h3> Pictures: </h3> <% @hat.hat_pics.each do |p| %>
    <%= link_to(image_tag(p.avatar.url(:thumb)), hat_pic_path(p)) %>
  <% end %>
<% else %>
  <h3>You don't have any pictures yet! <%= link_to "Add one!", new_hat_pic_path %></h3>
<% end %>
<br>
<br>

<% if logged_in? && @hat.user_id == session[:id] %>
  <div class = "row">
    <div class = "col-1">
    <%= link_to("Edit", edit_hat_path(@hat), :class => "btn btn-danger") %><br>
    </div>
    <div class = "col-1">
    <%= link_to "Delete", @hat, method: :delete, :class => "btn btn-danger" %>
    </div>
  </div>
<% end %>
  </div>
</div>
